*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse specific
.project
.classpath
.metadata/
.settings/
bin/
target/

#intellij idea
.idea/

# gradle
.gradle
build/

# local specific file
work/
services/
